# Importing Libraries and reading the dataset

In [1]:
import pandas as pd

## 1. MovieLens dataset

In [2]:
df = pd.read_csv('merged_data.csv')
df.head()

,userId,movieId,rating,title,genres
0,1,16,4.0,Casino (1995),Crime|Drama
1,1,4993,4.5,"Lord of the Rings: The Fellowship of the Ring,...",Adventure|Fantasy
2,1,4963,3.5,Ocean's Eleven (2001),Crime|Thriller
3,1,4306,4.0,Shrek (2001),Adventure|Animation|Children|Comedy|Fantasy|Ro...
4,1,4262,5.0,Scarface (1983),Action|Crime|Drama

## 2. Movies dataset

In [3]:
df2 = pd.read_csv('movies.csv')
df2.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

# Displaying the details about the dataframe

## 1. MovieLens dataset

In [4]:
df.shape

(105339, 5)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105339 entries, 0 to 105338
Data columns (total 5 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   userId   105339 non-null  int64
 1   movieId  105339 non-null  int64
 2   rating   105339 non-null  float64
 3   title    105339 non-null  object
 4   genres   105339 non-null  object
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB

## 2. Movies dataset

In [6]:
df2.shape

(10329, 3)

In [7]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10329 entries, 0 to 10328
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  10329 non-null  int64
 1   title    10329 non-null  object
 2   genres   10329 non-null  object
dtypes: int64(1), object(2)
memory usage: 242.2+ KB

## Total unique users

In [8]:
print("Total unique users: ",len(df['userId'].unique()))

Total unique users:  668

## Total unique movies

In [9]:
print("Total unique users: ",len(df['movieId'].unique()))

Total unique users:  10325

## Total unique genres

In [10]:
genres = []
for genre in df.genres:
    x = genre.split('|')
    for i in x:
        if(i not in genres):
            genres.append(str(i))

In [11]:
print("All unique genres: \n")
print(genres)

All unique genres:

['Crime', 'Drama', 'Adventure', 'Fantasy', 'Thriller', 'Animation', 'Children', 'Comedy', 'Romance', 'Action', 'War', 'Horror', 'Mystery', 'Sci-Fi', 'IMAX', 'Documentary', 'Film-Noir', 'Western', 'Musical', '(no genres listed)']

In [12]:
print("Total unique genres: ",len(genres))

Total unique genres:  20

# Content based filering

## Choosing random user for recommendation

In [13]:
import random
user = random.randint(1,668)
print("User(User ID) chosen for recommendation",user)

User(User ID) chosen for recommendation 627

## Getting details about user- his seen movies and highest rated movie genres

In [14]:
user1_movies = list(df['movieId'][df['userId'] == user])
print("Total movies seen by user: {}".format(len(user1_movies)))

Total movies seen by user: 1050

In [15]:
max_rating = df['rating'][df['userId'] == user].max()
print("Maximum rating given by user: ", max_rating)

Maximum rating given by user:  5.0

## Getting top genres of the user's highest rated movies

In [16]:
l = list(df['genres'][(df['userId'] == user) & (df['rating'] == max_rating)])
genres = {}
for i in l:
    split_list = i.split('|')
    for j in split_list:
        if j not in genres:
            genres[j] = 1
        else:
            genres[j] += 1
genres = dict(sorted(genres.items(), key=lambda item: item[1]))
genres_list = list(genres.keys())[::-1]
print("Genres of all highest rated movies by the user:\n",genres_list)

Genres of all highest rated movies by the user:
 ['Drama', 'Comedy', 'Crime', 'Thriller', 'Action', 'Adventure', 'Fantasy', 'Animation', 'Sci-Fi', 'Romance', 'Children', 'War', 'Mystery', 'Horror', 'Documentary']

In [17]:
print("Genres with their count:")
print(genres)

Genres with their count:
{'Documentary': 1, 'Horror': 2, 'Mystery': 3, 'War': 4, 'Children': 6, 'Romance': 7, 'Sci-Fi': 9, 'Animation': 10, 'Fantasy': 10, 'Adventure': 17, 'Action': 17, 'Thriller': 18, 'Crime': 19, 'Comedy': 23, 'Drama': 26}

In [18]:
top_genres = genres_list[:min(4,len(genres_list))]
print("Top {} Genres: {}".format(len(top_genres),top_genres))

Top 4 Genres: ['Drama', 'Comedy', 'Crime', 'Thriller']

# Calculating similarity of all the movies with respect to the top genres obtained

## Movies dataframe

In [19]:
df2.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

## Initializing the similarity column with 0 for all the movies

In [20]:
df2['Similarity'] = 0.0

In [21]:
df2.head()

,movieId,title,genres,Similarity
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,0.0
1,2,Jumanji (1995),Adventure|Children|Fantasy,0.0
2,3,Grumpier Old Men (1995),Comedy|Romance,0.0
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,0.0
4,5,Father of the Bride Part II (1995),Comedy,0.0

## Defining cosine similarity function for obtaining the most similar movies to recommend to the user

In [22]:
def cosine_similarity(a,b):
    a = a.split('|')
    li = list(set(a + b))
    a1 = []
    b1 = []
    for i in li:
        a1.append(a.count(i))
        b1.append(b.count(i))
    
    num = 0
    d1 = 0
    d2 = 0
    for j in range(len(a1)):
        num += a1[j] * b1[j]
        d1 += a1[j] ** 2
        d2 += b1[j] ** 2
    d1 = d1 ** 0.5
    d2 = d2 ** 0.5
    return num/(d1*d2)

In [37]:
for z in range(df2.shape[0]):
    if df2['movieId'][z] not in user1_movies:
        df2.at[z,'Similarity'] = cosine_similarity(df2['genres'][z],top_genres)

## Sorting the dataframe by Similarity in descending order and recommending top 10 movies which are most similar

In [38]:
sorteddf = df2.sort_values(by = 'Similarity',ascending=False)
sorteddf[:10]

,movieId,title,genres,Similarity
8233,71211,"Informant!, The (2009)",Comedy|Crime|Drama|Thriller,1.000000
7972,65181,Nobel Son (2007),Comedy|Crime|Drama|Thriller,1.000000
4771,6486,"Hard Word, The (2002)",Comedy|Crime|Drama|Thriller,1.000000
841,1034,Freeway (1996),Comedy|Crime|Drama|Thriller,1.000000
6897,42900,Cul-de-sac (1966),Comedy|Crime|Drama|Thriller,1.000000
8474,75813,Leaves of Grass (2009),Comedy|Crime|Drama|Thriller,1.000000
1164,1432,Metro (1997),Action|Comedy|Crime|Drama|Thriller,0.894427
3068,3893,Nurse Betty (2000),Comedy|Crime|Drama|Romance|Thriller,0.894427
6348,27674,11:14 (2003),Comedy|Crime|Drama|Mystery|Thriller,0.894427
3911,5027,Another 48 Hrs. (1990),Action|Comedy|Crime|Drama|Thriller,0.894427

# Results: Final Recommendation

In [49]:
print('\033[1m' + 'Recommended movies:' + '\033[0m' + "\n")

for i in range(10):
    print('\033[1m' + f'{i+1}.  ' + df['title'][i]  + '\033[0m')

Recommended movies:

1.  Casino (1995)
2.  Lord of the Rings: The Fellowship of the Ring, The (2001)
3.  Ocean's Eleven (2001)
4.  Shrek (2001)
5.  Scarface (1983)
6.  Beverly Hills Cop (1984)
7.  Thirteen Days (2000)
8.  O Brother, Where Art Thou? (2000)
9.  Snatch (2000)
10.  Gladiator (2000)